<ion-header>

  <ion-navbar>
    <ion-title><h2>Tabela de índice de massa corporal</h2></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-grid>
    <h2>Tabela de Adultos</h2>
    <ion-row>
      <ion-col>
        <h4>Categoria Faixa de IMC</h4>
      </ion-col>

      <ion-col>
        <h4>kg / m 2</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Magreza severa</h5>
      </ion-col>

      <ion-col>
        <h5>
          < 16</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Emagrecimento Moderado</h5>
      </ion-col>

      <ion-col>
        <h5>16 - 17</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Magreza fina</h5>
      </ion-col>

      <ion-col>
        <h5>17 a 18,5</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Normal</h5>
      </ion-col>

      <ion-col>
        <h5>18,5 - 25</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Excesso de peso</h5>
      </ion-col>

      <ion-col>
        <h5>25 - 30</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Classe Obesa I</h5>
      </ion-col>

      <ion-col>
        <h5>30 a 35</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Classe Obesa II</h5>
      </ion-col>

      <ion-col>
        <h5>35 a 40</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Classe Obesa III</h5>
      </ion-col>

      <ion-col>
        <h5>> 40</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2>Tabela para crianças e adolescentes, de 2 a 20 anos</h2>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Categoria</h4>
      </ion-col>

      <ion-col>
        <h4>Faixa percentual</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Abaixo do peso</h5>

      </ion-col>

      <ion-col>
        <h5>
          <5%</h5>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Peso saudável</h5>

      </ion-col>

      <ion-col>
        <h5>5% - 85%</h5>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h5>Em risco de excesso de peso</h5>

      </ion-col>

      <ion-col>
        <h5>85% - 95%</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Excesso de peso</h5>
      </ion-col>

      <ion-col>
        <h5>> 95%</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  Fonte: https://www.calculator.net/bmi-calculator.html
</ion-content>