<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Calcular IMC" tabIcon="calculator"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tabelas" tabIcon="grid"></ion-tab>
</ion-tabs>
