<ion-header>

  <ion-navbar>
    <ion-title>Calcular IMC</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="string" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Sexo</ion-label>
      <ion-select [(ngModel)]="sexo">
        <ion-option value="f">Feminino</ion-option>
        <ion-option value="m">Masculino</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label floating>Data de Nascimento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
      </ion-item>

    <ion-item>
      <ion-label stacked>Altura</ion-label>
      <ion-input type="number" [(ngModel)]="altura"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label stacked>Peso</ion-label>
      <ion-input type="number" [(ngModel)]="peso"></ion-input>
    </ion-item>

    <button ion-button icon-end full (click)="calc_imc(sexo)">
      Calcular
      <ion-icon name="calculator"></ion-icon>
    </button>
  </ion-list>

</ion-content>