<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <label>
    <h1>Índice de Massa Corporal (IMC)</h1>
  </label>

  <label>
    <p>Índice de Massa Corporal trata-se de uma medida do peso de cada pessoa, sendo uma relação entre a massa da pessoa e a
      sua altura.</p>

    <p>É uma medida de referência internacional reconhecida pela OMS (Organização Mundial da Saúde), mas que não mede diretamente
      a gordura corporal, porque não contempla a massa magra, massa gorda, líquidos e a estrutura óssea da pessoa em questão.</p>

  </label>

  <ion-card>
    <ion-card-content full>
      <h2>
        <ion-icon name="alert"></ion-icon> AVISO LEGAL:
      </h2>

      <p> As informações disponibilizadas neste aplicativo devem apenas ser utilizadas para fins informacionais, não podendo,
        jamais, serem utilizadas em substituição a um diagnóstico médico por um profissional habilitado. Os autores deste
        site se eximem de qualquer responsabilidade legal advinda da má utilização das informações aqui publicadas.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>